* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.subBody {
  width: 65vw;
  height: 85vh;
  margin: 0 auto;
  background-color: lightblue;
  border-radius: 10px;
}
header {
  background-color: lightcoral;
  border-radius: 10px 10px 0 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin-bottom: 25px;
}

header h1 {
  text-align: center;
}

nav menu {
  display: flex;
  flex-direction: column;
  gap: px;
  align-items: flex-end;
}

menu ul {
  display: flex;
  margin-right: 20px;
  gap: 10px;
  justify-content: stretch;
  align-items:center; 
  padding-top: 20px
}

menu li {
  list-style: none;
}
menu a {  
  width: 80px;
  height: 30px;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  color: black;
  text-transform: uppercase
}
menu a:hover{
  background-color:#a85a5a;
}

main {
  padding: 25px;
}
fieldset {
  padding: 10px;
}

fieldset > * {
  margin-right: 10px;
  margin-bottom: 10px;
}

fieldset button {
  padding: 5px 10px;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.car-card {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  background-color: #2596be;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 5px 2px #0007;
}

.carImg {
  width: 125px;
  height: auto;
  align-self: center;
  margin-bottom: 5px;
  border-radius: 5px;
}
.carDescription {
  margin-bottom: 5px;
}

.ulCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 10px
}

.list-param {
  list-style: none;
}

.btnComprar {
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: bold;
}